[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "rqg"]
	path = rqg
	url = https://github.com/yoshinorim/rqg.git
[submodule "rocksdb-rpc-client"]
	path = rocksdb-rpc-client
	url = http://gitlab.alibaba-inc.com/baijiadong.bjd/rocksdb-rpc-client.git
